<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371738946834-ghi7o5h01top2294d90v0j86e4jmaiso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371738946834-ghi7o5h01top2294d90v0j86e4jmaiso</string>
	<key>API_KEY</key>
	<string>AIzaSyCZFTURECNAaSuH18i-q31khHpmkHwWp-4</string>
	<key>GCM_SENDER_ID</key>
	<string>371738946834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpma.app</string>
	<key>PROJECT_ID</key>
	<string>dpma-bbb07</string>
	<key>STORAGE_BUCKET</key>
	<string>dpma-bbb07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371738946834:ios:4a55d0db3b20803b70d7cb</string>
</dict>
</plist>