<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858490038683-36kv411fe7t68eeelh4ibnkrt85r6qpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858490038683-36kv411fe7t68eeelh4ibnkrt85r6qpu</string>
	<key>API_KEY</key>
	<string>AIzaSyDiEp1w74DqfnqNxIQ1XH_PRO44N5_-qgg</string>
	<key>GCM_SENDER_ID</key>
	<string>858490038683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dpma.app</string>
	<key>PROJECT_ID</key>
	<string>dpma-351113</string>
	<key>STORAGE_BUCKET</key>
	<string>dpma-351113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858490038683:ios:ed8f850a8615332e90993e</string>
</dict>
</plist>